html {
    /*background-color: #DFFDFF;*/
    background-color: #4EACDE;
}
body {
    background-color: #4EACDE;
}

img {
    margin-bottom: .5em; 
    max-width: 100%
}
    
ul {
    margin: 1em;
}

.header {
    background-color: #e0e0e0; 
}

.tab {
    margin-left: 2em;
}

#sidebar {
    padding: 1%; 
    margin-right: 2em; 
    margin-left: 1em; 

}


#body {
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em; 
    margin-bottom: 2em; 
    padding-top: 2em;
    padding-bottom: 2em; 
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.16),0 4px 10px 0 rgba(0,0,0,0.12);
}


#me {
   margin: 2em; 
}

#color-changer {
    margin-bottom: 2em;
}
